		.Day{width:60px; background-color:#FFFAF0; color:#e18b07a1; font-size:24px; impact; height:60;}
	.NullDay{width:60px; background-color:#F0FFFF; color:#e18b07ed; font-size:24px; impact; height:60;}
	.Week{width:60px; background-color:	#E18B07; color:#221501; font-size:24px; impact; height:60;}
	.active { border: 1px solid #424242; background: #fff; color: #e84a7e; }
	.active h2 { }
	.active p { font-weight: bold; }
	#text { float:left; width: 400px; padding: 10px 10px 10px; border: 1px solid #fff; padding-top: 10px; background: #f1f1f1; color: #555; margin:20px; }
	#text h2 {font-size: 14px; margin-bottom: 10px; }
	#text p { font-size: 12px; line-height: 18px; }
	#LeftSide{float:left;}
	td:hover{background-color:#ddd; cursor:pointer;}

.button{
	background-color: #D1AC87;
	padding: 0.1em 0.25em;
	color: 	#cc1f46;
	border: 0;
	weight:
}

.button:hover{
	background-color: #333;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content{
	background-color: #f4f4f4;

	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
	animation-name:modalopen;
	animation-duration: 1s;
	width:400px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-200px;
}

.modal-header h2,.modal-footer h3{
	margin: 0;
}

.modal-header{
	background-color: #e18b07;
	padding: 15px;
	color: #fff;
}

.closeBtn{
	color: #fff;
	float: right;
	font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-body{
	padding: 10px 20px;
}

.modal-footer{
	background-color: #e18b07;
	padding: 10px;
	color: #fff;
	text-align: center;
}

@keyframes modalopen{
	from { opacity: 0 }
	to { opacity: 1 }
}
