/* GLOBAL */
body{padding:0; margin:0; background-color:#d9d9cd; color:#40483d; font:12px Tahoma, sans-serif;}

.clear {clear: both; margin: 0; height:0}

h1{font-size:18px; color:#646b61; padding:0.5em; font-weight: bold;}
h2{font-size:16px; color:#646b61; padding:0.5em; font-weight: bold;}
h2 a{font-size:16px; color:#646b61; padding:0.5em; padding-left:0; font-weight: bold;}
h3{font-size:14px; color:rgba(0,0,0,.8); padding:0.3em; padding-left: .5em;}
p{color:#40483d; padding:0.5em; font:12px}
p a{font:12px Tahoma, sans-serif; color:#40483d; text-decoration:underline; cursor: pointer; padding-right: 2em;}
p a:hover{ color:#40483d; text-decoration:none;}
ul {margin-left: 0.5em;}
ul li{font:12px; color:#40483d; padding:0.5em; list-style-type: none;}

strong{font-weight: bold; color: #40483d}
em{font-style: italic; color: #40483d}

#account-title{ width: 65%; display: inline-block; margin-bottom: 1em; margin-top: 1em; padding: .2em;}

.help-block{color:red;}
.error-msg{
  text-align: center;
  color: red;
  background-color: rgba(255,0,0,.2);
  font-size: 150%;
  border-radius: .3em;
}
.success-msg{
  text-align: center;
  color: #529430;
  background-color: rgba(0,255,0,.2);
  font-size: 150%;
  border-radius: .3em;
}
.Deposit{
  background-color: rgba(0,255,0,.1);
}
.Withdrawal{
  background-color: rgba(255,0,0,.1);
}

.largerfont{
  font-size: 16px;
}

.list li{
  font-size: 14px;
}

.list li a{
  font-size: 14px;
  color: #40483d;
  text-decoration: underline;
}

.link{
  font-size:16px;
  padding:0;
  margin:0;
}

/* HEADER */
header{width:100%; height:150px;  position:relative; margin:0 auto; }
#upper{height:100px; background-color:#111111;}
#lower{height:50px; background: #BA7306;
  background: -webkit-linear-gradient(bottom, #B57006, #e18b07);
  background: -o-linear-gradient(bottom, #B57006, #e18b07);
  background: -moz-linear-gradient(bottom, #B57006, #e18b07);
  background: linear-gradient(bottom, #B57006, #e18b07);}
#logo{position:absolute; top:0px; left:30px;}
header nav ul{padding-top:1.5em;}
header nav ul li{margin-left:1em; display:inline; padding:2em;}
header nav ul li a{color:#40483d;}
header nav ul li a:hover{color:red;}
.headline{font:12px Tahoma, Geneva, sans-serif; color:#e18b07; font-weight:bold}

/* CONTAINERS */
main{padding:1px; }

#leftColumn{
  width:25em;
  float:left;
  height: auto;
  margin-left: 1em;
  margin-top: 0.5em;
  top: 0px;
  right: 0px;
}
#center{
  margin-right: 27em;
  margin-top: .5em;
  margin-bottom: 5em;
  margin-left: 27em;
  height: auto;
}
#center-noleft{
    margin-right:30em;
    margin-left:1em;
    margin-bottom: 5em;
    margin-top: 0.5em;
}

#center-noright{
    margin-left:26em;
    margin-right:20em;
    margin-bottom: 10em;
}
#center-nocolumns{
  width: 100%;
  margin: auto;
  height: auto;
}
#center-nocolumns fieldset{
  width: 50%;
  margin: auto;
  height: auto;
}
#rightColumn{
  width:25em;
  float:right;
  height: auto;
  margin-right: 1em;
  margin-top: 0.5em;
  position: relative;
  top: 0px;
  left: 0px;
}

.btn_more li a{font:12px Trebuchet MS, sans-serif; color:#111111; text-decoration:none; font-weight:bold;}
.btn_more li a:hover{color:#111111; text-decoration:underline}

#leftColumn{margin-bottom:1em;}
#leftColumn h2{margin-bottom:1em;}
#leftColumn p{margin:0 0 0 0;}

#leftColumn ul li{font:12px Tahoma, sans-serif;}
#leftColumn ul li a{color:#646b61; text-decoration:underline;}
#leftColumn ul li a:hover{color:#fff; text-decoration:none; background:#646b61}


#spotlight h2{margin-bottom:1em;}

#rightColumn {margin-bottom: 2em;}

#rightColumn ul li{font:12px Tahoma, sans-serif;}
#rightColumn ul li a{color:#646b61; text-decoration:underline;}
#rightColumn ul li a:hover{color:#fff; text-decoration:none; background:#646b61}

#center h1{margin-bottom:1em}

#rightColumn h2{margin-bottom:1em}
.backlight{
  background-color: #CFCFC3;
  border-radius: .6em;
  border: 1px solid #BDBDB2;
  padding: .2em 0;
  margin: .2em 0;
}

/* FOOTER */

footer{background-color:#111111; position:relative; bottom:0; width: 100%; height: 5em;}
footer p{padding: 1em 0 0 0; font:10px Tahoma, sans-serif; font-weight:normal; text-align:center; color:#d9d9cd;}
footer p a{font:12px Tahoma, sans-serif; font-weight:normal; color:#d9d9cd; text-decoration:none; padding: 0 0.5em }
footer p a:hover{text-decoration:none; background:#fff; color:#111}
#overview-img{
width: 50%;
}

.absolute{
  background-color:#111111; position:absolute; bottom:0; width: 100%; height: 5em;
}

/*DROPDOWN MENU*/
.dropbtn {
    background: #BA7306;
    background: -webkit-linear-gradient(bottom, #B57006, #e18b07);
    background: -o-linear-gradient(bottom, #B57006, #e18b07);
    background: -moz-linear-gradient(bottom, #B57006, #e18b07);
    background: linear-gradient(bottom, #B57006, #e18b07);
    color: #40483d;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
}


.dropdown {
    position: absolute;
    top: 0px;
    right: 40px;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
	right:0;
	top:50px;
    background-color: #FDFDFD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #40483d;
    color: #e18b07;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e18b07;
}

/*SPECIAL ICONS*/
.icon1{
  font-size: 40px;
  float:left;
  padding-right: 0.5em;
  padding-left: 0.3em;
  padding-bottom:0.1em;
}

.icon2{
  font-size: 40px;
  float:left;
  padding-right: 0.4em;
  padding-left: 0.3em;
  padding-bottom:0.1em;
}

.icon3{
  font-size: 40px;
  float:left;
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-bottom:0.1em;
}

.icon4{
  font-size: 40px;
  float:left;
  padding-right: 0.8em;
  padding-left: 0.3em;
  padding-bottom:0.1em;
}
/*FORMS*/
#update-content {
	margin: auto;
	width: 30em;
}
fieldset{
margin: 1.5em 0;
margin-left: 1em;
}
label{
display: block;
margin-top: 1em;
margin-bottom: .5em;
}
input[type=text], input[type=password], input[type=number], select, input[list="reason"]{
  margin-left: 2em;
  margin: .2em 0;
  padding: .5em;
  border-radius: .3em;
  width: 100%;
}
select{
  width: 102%;
}
#select-Name{
  width: 100%;
}
#update-submit{
background-color: #e18b07;
display: block;
margin: auto;
margin-top: 1em;
width: 50%;
padding: 1em 0;
}
#update-submit:hover{
cursor: pointer;
opacity: 0.8;
}
input[type=submit] {
  display: inline-block;
}
#send-form{
  background-color: #CFCFC3;
  border-radius: .6em;
  border: 1px solid #BDBDB2;
  padding: 1em;
  padding-top: .3em;
  margin: 1em;
}
#send-form-disabled{
  opacity: .5;
  background-color: #CFCFC3;
  border-radius: .6em;
  border: 1px solid #BDBDB2;
  padding: 1em;
  padding-top: .3em;
  margin: 1em;
}
.centered{
  text-align: center;
}
#send-submit{
background-color: #e18b07;
border-radius: .3em;
display: block;
margin: auto;
margin-top: .5em;
width: 50%;
padding: 1em 0;
}
#send-submit:hover{
cursor: pointer;
opacity: 0.8;
}
.imgsized{
  padding-right: .1em;
}
input[type=submit] {
  display: inline-block;
}
#new-account-button{
  float: right;
  text-align: center;
  padding: 1em;
  background-color: orange;
  border-radius: .3em;
  border: 2px outset orange;
}
#new-account-button:hover{
  opacity: .8;
}
#new-account-button:active{
  border: 2px inset orange;
}
#new-account-button2{
  position: relative;
  bottom: 15em;
  text-align: center;
  padding: 1em;
  background-color: orange;
  border-radius: .3em;
  border: 2px outset orange;
}
#new-account-button2:hover{
  opacity: .8;
}
#new-account-button2:active{
  border: 2px inset orange;
}
.edit-button{
  margin-top: .5em;
  margin-right: .5em;
  width: 16em;
}

/* Transactions */
ul.transactions, .transactions li, .transactions p{
  margin: .2em;
  padding: 0.3em .5em;
}
.transactions-item{
  background-color: #CFCFC3;
  border-radius: .6em;
  border: 1px solid #BDBDB2;
  padding: .2em 0;
  margin: .2em 0;
}
.transactions-time{
  font-style: italic;
}
.transactions-type{
  font-weight: bold;
}
.transactions-title{
  font-size: 130%;
  font-weight: bold;
  text-decoration: underline;
}

.upload-form{
    padding-bottom: 2em;
    border: 1px solid #BDBDB2;
}

/*ACCOUNTS*/
.account-entry{
  position: relative;
  background-color: #CFCFC3;
  border-radius: .6em;
  border: 2px outset #BDBDB2;
  padding: .2em 0;
  margin: .2em .5em;
  width: 100%;
}
.account-entry:hover{
  background-color: #BDBDB2;
}
.account-entry:active{
  border: 2px inset #BDBDB2;
}
.account-title{
  font-size: 130%;
  font-weight: bold;
}
.account-type{
  font-size: 130%;
}

#account-table{
  margin: .8em 1em;
  width: 100%;
  background-color: #CFCFC3;
  border: 2px outset #BDBDB2;

}
#account-table td, #account-table th{
  text-align: right;
  font-size: 130%;
  color:#40483d;
  padding: .5em;
  border-bottom: 1px solid #BDBDB2;
  border-right: 1px solid #BDBDB2;
}
#account-table th{
  font-weight: bold;
  text-decoration: underline;
}

/*ADD CSV PAGE*/
.csvinstruct{
  font-size: 14px;
}

.csvinstruct ul li{
  list-style-type: square;
  margin-left: 3em;
}

.formcontainer{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.csvinstruct form{
  margin-top: 2em;
  margin-bottom: 2em;
  background: rgb(175, 175, 165);
  padding: 1em;
  width: 50%;
}

.csvinstruct input[type=text]{
  width: 98%;
}

.contactform input[type=text], input[type=email]{
  width: 50%;
  padding: 0.5em;
}

.contactform textarea{
  width: 51%;
  height: 10em;
  resize: none;
}

.savebtn{
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
}

.savebtn:hover {
  background: #BA7306;
  background: -webkit-linear-gradient(bottom, #B57006, #e18b07);
  background: -o-linear-gradient(bottom, #B57006, #e18b07);
  background: -moz-linear-gradient(bottom, #B57006, #e18b07);
  background: linear-gradient(bottom, #B57006, #e18b07);
  color:#FFF;
}

/*RESPONSIVE CHARTS*/
@media (min-width: 576px) {
    #chart-2{
      display:inline;
    }
    #chart-1{
      display:inline;
    }
    #chart-3{
      display:inline;
    }
    #chart-4{
      display:inline;
    }
    }
  @media (max-width: 576px) {
    #chart-2{
      width: 100%;
    }
    #chart-1{
      width: 100%;
    }
    #chart-3{
      width: 100%;
    }
    #chart-4{
      width: 100%;
    }
    }
