/* GLOBAL */
body{padding:0; margin:0; background-color:#d9d9cd; color:#40483d; font:12px Tahoma, sans-serif; }

.clear {clear: both; margin: 0; height:0}

h1{font-size:18px; color:#646b61; padding:0.5em;}
h2{font-size:16px; color:#646b61; padding:0.5em;}
p{color:#40483d; padding:0.5em; font:12px}
p a{font:12px Tahoma, sans-serif; color:#40483d; text-decoration:underline;}
p a:hover{ color:#40483d; text-decoration:none;}
ul {margin-left: 0.5em;}
ul li{font:12px; color:#40483d; padding:0.5em; margin-left:0.5em; list-style-type: none;}
.headline{font:12px Tahoma, Geneva, sans-serif; color:#e18b07; font-weight:bold}

.help-block{color:red;}

/* HEADER */
header{width:100%; height:150px;  position:relative; margin:0 auto; }
#upper{height:100px; background-color:#111111;}
#lower{height:50px; background-color: #e18b07;}
#logo{position:absolute; top:50px; left:50px;}
header nav ul{padding-top:1.5em;}
header nav ul li{margin-left:1em; display:inline; padding:2em;}
header nav ul li a{color:#40483d;}
header nav ul li a:hover{color:red;}

/* CONTAINERS */
main{padding:1px;}

#leftColumn{
  width:25em;
  float:left;
  height: auto;
  margin-left: 1em;
  margin-top: 0.5em;
  position: relative;
  top: 0px;
  right: 0px;
}
#center{
  margin-right: 27em;
  margin-top: .5em;
  margin-bottom: 5em;
  margin-left: 27em;
  height: auto;
}
#center-noleft{
    margin-right:35em;
    margin-left:1em;
    margin-bottom: 10em;
}
#center-nocolumns{
width: 100%;
  height: auto;
}
#center-nocolumns fieldset{
width: 50%;
margin: auto;
  height: auto;
}
#rightColumn{
  width:25em;
  float:right;
  height: auto;
  margin-right: 1em;
  margin-top: 0.5em;
  position: relative;
  top: 0px;
  left: 0px;
}

.btn_more li a{font:12px Trebuchet MS, sans-serif; color:#111111; text-decoration:none; font-weight:bold;}
.btn_more li a:hover{color:#111111; text-decoration:underline}

#leftColumn{margin-bottom:1em;}
#leftColumn h2{margin-bottom:1em;}
#leftColumn p{margin:0 0 0 0;}


#spotlight h2{margin-bottom:1em;}

#rightColumn {margin-bottom: 2em;}

#rightColumn ul li{font:12px Tahoma, sans-serif; padding-top: 1em;}
#rightColumn ul li a{color:#646b61; text-decoration:underline;}
#rightColumn ul li a:hover{color:#fff; text-decoration:none; background:#646b61}

#center h1{margin-bottom:1em}

#rightColumn h2{margin-bottom:1em}
.backlight{
  background-color: #CFCFC3;
  border-radius: .6em;
  border: 1px solid #BDBDB2;
  padding: .2em 0;
  margin: .2em 0;
}

/* FOOTER */

footer{background-color:#111111; position:absolute; bottom:0; width: 100%; height: 5em;}
footer p{padding: 1em 0 0 0; font:10px Tahoma, sans-serif; font-weight:normal; text-align:center; color:#d9d9cd;}
footer p a{font:10px Tahoma, sans-serif; font-weight:normal; color:#d9d9cd; text-decoration:none; padding: 0 0.5em }
footer p a:hover{text-decoration:none; background:#fff; color:#111}
#overview-img{
width: 50%;
}

/*DROPDOWN MENU*/
.dropbtn {
    background-color: #e18b07;
    color: #40483d;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
}


.dropdown {
    position: absolute;
    top: 0px;
    right: 40px;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
	right:0;
	top:50px;
    background-color: #FDFDFD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #40483d;
    color: #e18b07;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e18b07;
}

/*FORMS*/
#update-content {
	margin: auto;
	width: 30em;
}
fieldset{
margin: 1.5em 0;
margin-left: 1em;
}
label{
display: block;
margin-top: 1em;
margin-bottom: .5em;
}
input[type=text], input[type=password], input[type=number], select{
  margin-left: 1em;
  margin: .2em 0;
  padding: .5em;
  border-radius: .3em;
  width: 100%;
}
select{
  width: 102%;
}
#update-submit{
background-color: #e18b07;
display: block;
margin: auto;
margin-top: 1em;
width: 50%;
padding: 1em 0;
}
#update-submit:hover{
cursor: pointer;
opacity: 0.8;
}
input[type=submit] {
  display: inline-block;
}
#send-form{
  background-color: #CFCFC3;
  border-radius: .6em;
  border: 1px solid #BDBDB2;
  padding: 1em;
  padding-top: .3em;
  margin: 1em;
}
.centered{
  text-align: center;
}
#send-submit{
background-color: #e18b07;
border-radius: .3em;
display: block;
margin: auto;
margin-top: .5em;
width: 50%;
padding: 1em 0;
}
#send-submit:hover{
cursor: pointer;
opacity: 0.8;
}
.imgsized{
  padding-right: .1em;
}
input[type=submit] {
  display: inline-block;
}


/* Transactions */
ul.transactions, .transactions li, .transactions p{
  margin: .2em;
  padding: 0.3em .5em;
}
.transactions-item{
  background-color: #CFCFC3;
  border-radius: .6em;
  border: 1px solid #BDBDB2;
  padding: .2em 0;
  margin: .2em 0;
}
.transactions-time{
  font-style: italic;
}
.transactions-type{
  font-weight: bold;
}
.transactions-title{
  font-size: 130%;
  font-weight: bold;
  text-decoration: underline;
}

.upload-form{
    padding-bottom: 2em;
}
