/* Reset */

html, body { margin: 0; padding: 0; border: 0; background: 0; font-size:10px; }

div, span, article, aside, footer, header, hgroup, nav, section,
h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li,
table, tr, th, td, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

figure	{ margin:0; padding:0; border:0; }
img		{ margin:0; padding:0; border:0; }

table, tr, th, td, tbody, tfoot, thead {
	margin: 0; padding: 0; border: 0;
	vertical-align: baseline;
	background: transparent;
	
}

table { border-collapse: collapse; border-spacing: 0; }

input, select, textarea, form, fieldset {
	margin: 0; padding: 0; border: 0;
}

article, aside, figure, footer, header, hgroup, nav, section, {
	display:block; 
}

h1, h2, h3, h4, h5, h6, p, li, blockquote, td, th, a, caption, em, strong, strike {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight: normal;
	font-style: normal;
	line-height: 100%;
	text-indent: 0;
	text-decoration: none;
	text-align: left;
	color: white;
}

ol, ul { list-style: none; }

/* GLOBAL */
body{padding:0px; margin:0px; background-color:#d9d9cd; color:#40483d; font:12px Tahoma, sans-serif; }

.clear {clear: both; margin: 0px; height:0}

h1{font-size:18px; color:#646b61;}
h2{font-size:16px; color:#646b61;}
p{color:#40483d;}
p a{font:12px Tahoma, sans-serif; color:#40483d; text-decoration:underline;}
p a:hover{ color:#40483d; text-decoration:none;}

.headline{font:12px Tahoma, Geneva, sans-serif; color:#e18b07; font-weight:bold}

/* HEADER */
header{width:100%; height:150px;  position:relative; margin:0 auto; }
#upper{height:100px; background-color:#111111;}
#lower{height:50px; background-color: #e18b07;}
#logo{position:absolute; top:50px; left:50px;}
header nav ul{padding-top:1.5em;}
header nav ul li{margin-left:14px; display:inline; padding:2em;}
header nav ul li a{height:16px;  color:#40483d;}
header nav ul li a:hover{height:16px; color:red;}

/* CONTAINERS */
main{width:100%; padding:0; margin-top:2em;}

#leftColumn{
    width:250px; 
    float:left; 
    margin-left:36px;
}
#center{ 
    margin-right:290px; 
    margin-left:350px;
}
#rightColumn{
    width:250px; 
    float:right;
}

.btn_more li a{font:11px/14px Trebuchet MS, sans-serif; color:#111111; text-decoration:none; font-weight:bold; }
.btn_more li a:hover{color:#111111; text-decoration:underline}

#latest{margin-bottom:25px; margin-top:5px}
#latest h2{height:15px; position:relative; margin-bottom:13px}
#latest p{margin:0 0 15px 0;}

#spotlight h2{height:15px; position:relative; margin-bottom:18px}

#news ul{width:160px;}
#news ul li{font:10px/14px Tahoma, sans-serif; padding-top: 1em; height:22px;}
#news ul li a{color:#646b61; text-decoration:underline;}
#news ul li a:hover{color:#fff; text-decoration:none; background:#646b61}

#center h1{height:44px; position:relative; margin-top:5px;}

#rightColumn h2{height:15px; position:relative; margin-bottom:20px}

/* FOOTER */
footer{height:54px; clear:both; width:100%; background-color:#111111; position:absolute; bottom:0px;}
footer p{padding: 10px 0 0 0; font:10px/16px Tahoma, sans-serif; font-weight:normal; text-align:center; color:#d9d9cd;}
footer p a{font:10px Tahoma, sans-serif; font-weight:normal; color:#d9d9cd; text-decoration:none; padding: 0 3px }
footer p a:hover{text-decoration:none; background:#fff; color:#111}
